@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');



body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hearder {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7),
        url(Imagenes/bg.jpg));
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}

.menú{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{

    color: #fffDfc;
    font-size: 25px;
    font-weight: 800;
}

.menú.navbar ul li {
    position: relative;
    float: left;
}

.menú.navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffDfc;
    display: block;
    font-weight: 600; 
}


.menú.menú.navbar ul li a:hover {
    color: #ce97bc;
}

#menú {
    display: none;
}

.menú-ícono {
    width: 25px;
}

.menú.label {
    cursor: pointer;
    display: none;
}

.hearder-content {
    text-align: center;
}

.hearder-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.hearder-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #ce967b;
    color: #faf9fc;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #d0774b;
}

.Coffe {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}
.Coffe-content {
    text-align: center;
}

.Coffe-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt.p {
    font-size: 16px;
    color: #414427;
    padding: 0 250px;
    margin-bottom: 35px;
    
}

.Coffe-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Coffe-1 {
    padding: 0 25px;
}


.Coffe-1 img {
    width: 200px;
}

.Coffe-img {
    position: absolute;
    top: 0;
    right: 0;
}

.Coffe-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(Imagenes/bg2.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content {
    text-align: center;
}

.services.content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services.content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services.group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 25px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #eaccbe;
    font-size: 18PX;
}

.General {
    display: flex;
}

.General-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.General-2 {
    background-image: url(Imagenes/coffe-1.jpg);
    background-position: center center;
    background-repeat: no repeat;
    background-size: cover;
    width: 50%;
}

.General-3 {
    background-image: url(Imagenes/coffee-2.jpg);
    background-position: center center;
    background-repeat: no repeat;
    background-size: cover;
    width: 50%;
}


h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;

}

p {
    font-size: 16px;
    color: #414427;
    margin: 25px 0 45px 0;
}

.blog {
    padding: 100px 0;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;
}

.footer {
    padding: 100px 0;
    background-color: #000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #faf9fc;
    margin-bottom: 15px;
}

.link a  {
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}

@media(max-width: 991px) {
    .menú {
        padding: 30px;
    }

    .menú.label {
        display: initial;
    }

    .menú.navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menú.navbar ul li {
        width: 100%;
    }

    #menú.checked ~ .navbar {
        display: initial;
    }

.hearder {
    min-height: 0vh;
}

.hearder-content {
    padding: 100px 30px;
}

.hearder-content p {
    padding: 0;
}

.Coffe {
    padding: 30px;
}

.Coffe-content h2 {
    padding: 0;
}

.txt-p {
        padding: 0;
    }

}

.Coffe-group {
    flex-direction: column;
    margin-bottom: 0;
}

.Coffe-img {
    display: none;
}

.services {
    padding: 30px;
}


.services-content p {
    padding: 0;
}


.services.group {
    flex-direction: column;
    margin-bottom: 0;
}

.services-1 {
    margin-bottom: 25px;
}

.General {
    flex-direction: column;
}

.General-1 {
    width: 100%;
    padding: 30px;
    text-align: center;
}

.General-2, .General-3 {
    display: none;
}

.blog {
    padding: 30px;
}

.blog-content {
    flex-direction: column;
}

.blog-1 {
    padding: 0;
}

.footer {
    padding: 0;
}


.footer-content {
    flex-direction: column;
    text-align: center;
}